{% extends 'core/base.html' %}
{% load static %}

{% block title %} Product {% endblock %}

{% block content %}

    <figure class="image is-4by3 mb-6">
        <img src="{% static 'img/img-large.jpeg' %}">
    </figure>

    <h1 class="title">Product title, $14.99</h1>

    <p class="mb-6"><span class="tag is-dark">Vendor name</span></p>

        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar products</h2>
            </div>
        </div>
        
{% endblock %}